.vs/DocxFromDotx/v15/Server/sqlite3/storage.ide-wal
.vs/DocxFromDotx/v15/Server/sqlite3/storage.ide-shm
.vs/DocxFromDotx/v15/Server/sqlite3/storage.ide
.vs/DocxFromDotx/v15/Server/sqlite3/db.lock
DocxFromDotx/.vs/DocxFromDotx/v15/Server/sqlite3/storage.ide
DocxFromDotx/.vs/DocxFromDotx/v15/Server/sqlite3/db.lock
